* {
    font-family: 'Sofia Sans', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: white; 
}

a:visited {
    color: white; 
}

a:hover {
    color: orange;
}

nav {
    background-color: #585858;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    z-index: 4;
}

.navtitle {
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    color: white;
    position: relative;
    left: 10px;
    font-family: 'Julius Sans One', sans-serif;
}

.navtitleLink {
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    color: white;
    position: relative;
    left: 10px;
    font-family: 'Julius Sans One', sans-serif;
}

.navlist {
    list-style: none;
    position: absolute;
    right: 33px;
}

.navlist li {
    display: inline-block;
    position: relative;
    color: white;
    padding-right: 33px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 21px;
}

body {
    position: relative;
    top: 50px;
    margin: 0;
    width: 100%;
}

.maintitle {
    background-image: url("./public/img/nyc-skyline-grayscale.jpg");
    position: static;
    display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;
    box-sizing:border-box;
}

.maintitle h1 {
    color: white;
    font-weight: 300;
    font-size: 350px;
    margin-top: 142.25px;
    margin-bottom: 0; 
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Julius Sans One', sans-serif;
}

.maintitle h2 {
    color: white;
    font-weight: 400;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0; 
    width: 50%;
    padding: 0px;
    box-sizing: border-box;
    display: inline-block;
}

.about {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.about h1 {
    margin-left: 12.5vw;
    margin-top: 10vh;
    color: black;
    font-weight: 300;
    font-size: 75px;
    margin-bottom: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Julius Sans One', sans-serif;
}

.about h2 {
    margin-left: 12.5vw;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-weight: 300;
    font-size: 50px;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
}

.textbox {
    margin-left: 25vw;
    margin-top: 10vh;
    color: black;
    font-weight: 400;
    font-size: 24px;
    box-sizing: border-box;
}

.about li {
    margin-left: 25vw;
    margin-top: 5vh;
    color: black;
    font-weight: 400;
    font-size: 24px;
    box-sizing: border-box;
}

.join {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: blue;
}

.donate {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: red;
}