nav {
    background-color: #858585;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    z-index: 4;
}

.navtitle {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    color: white;
    position: relative;
    left: 10px;
}

.navlist {
    list-style: none;
    position: absolute;
    right: 10px;
}

.navlist li {
    display: inline-block;
    position: relative;
    color: white;
    padding-right: 10px;
    box-sizing: border-box;
}

.maintitle {
    background-image: url("./public/img/nyc-skyline-grayscale.jpg");
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing:border-box;
}

.maintitle h1 {
    background-color: black;
    color: white;
    font-weight: 300;
    font-size: 60px;
    margin-top: 142.25px;
    margin-bottom: 0; 
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}